sub {


}
.myspellls {
	font-size: 1.5em;
}

.myspelllsnum {
	font-size: 0.5em;
}

.spelllsarea {
	text-align: center;
	
	margin: auto;
}
.coremain {
	width: calc(100% - 196px) !important;
	height: calc(100% - 120px) !important;
	background-color: #ccc;
	
	 background: url('bgcore.jpg') no-repeat;
	 background-position:left bottom;
	 padding-left: 80px;
	  padding-right: 10px;
	  padding-top: 30px;
	   padding-bottom: 70px;
	 color: #000;
 
	
	
}
.corecontent {
	padding-top: 20px;
	height: 100% !important;
	overflow: auto;
	text-align:center;
}

.sidecore {
	width: 184px !important;
	
	vertical-align: top; /* here */
	padding-top: 30px;
	text-align: center;
}

.core2 {
overflow: auto;
}

html, body {
  height: 100% !important;
}

.fullcore {
	
	height: 100% !important;
	
	
	
}

.coremenu {
	width:180px; 
	text-align:center;
}

.coremenu:hover {
  background-color: #232323 !important;
}